<% provide(:title, "Event toevoegen") %>

<h1>Event bewerken</h1>

<%= form_for @schedule, url: admins_schedule_path(@schedule) do |f| %>
	<div class="form-group">
		<p>
			<%= f.label :start_time %><br />
			<select id="start-hours">	
			<% for hours in 0..23 %>
				<%= options_for_select([[hours.to_s.rjust(2, '0')]]) %>
			<% end %>
			</select> : 
			<select id="start-minutes">
				<% for minutes in 0..59 %>
					<%= options_for_select([[minutes.to_s.rjust(2, '0')]]) %>
				<% end %>
			</select>
			<%= f.time_field :start_time, style:"display:none;" %>
		</p>
	</div>
	<div class="form-group">
		<p>
			<%= f.label :end_time %><br />
			<select id="end-hours">	
			<% for hours in 0..23 %>
				<%= options_for_select([[hours.to_s.rjust(2, '0')]]) %>
			<% end %>
			</select> : 
			<select id="end-minutes">
				<% for minutes in 0..59 %>
					<%= options_for_select([[minutes.to_s.rjust(2, '0')]]) %>
				<% end %>
			</select>
			<%= f.time_field :end_time, style:"display:none;" %>
		</p>
	</div>
	<div class="form-group">
		<p>
			<%= f.label :title %><br />
			<%= f.text_field :title, class: "form-control" %>
		</p>
	</div>
	<div class="form-group">
		<p>
			<%= f.label :location %><br />
			<%= f.text_field :location, class: "form-control" %>
		</p>
	</div>
	<div class="form-group">
		<p>
			<%= f.label :speaker %><br />
			<%= f.text_field :speaker, class: "form-control" %>
		</p>
	</div>
	<div class="form-group">
		<p>
			<%= f.label :content %><br />
			<%= f.text_area :content, class: "form-control", :rows => "10" %>
		</p>
	</div>
	<div class="form-group">
		<%= f.label :icon %><br />
		<p>
			<%= f.select(:icon, options_for_select([['Koffie', 'koffie'],
																						 ['Microfoon', 'microfoon'],
																						 ['Tekst', 'tekst'],
																						 ['Video', 'video']], :selected => @schedule.icon)) %>
			
		</p>
	</div>
	<div class="form-group">
		<p>
			<%= f.submit 'Verstuur!', class: "btn btn-primary" %>
			<%= link_to "Terug", admins_schedules_path, class: "btn btn-default"  %>
		</p>
	</div>
<% end %>
<%= javascript_include_tag "admins/schedules" %>